<h1>Users#register</h1>
<p>Find me in app/views/users/register.html.erb</p>
<form action="register" method="POST">
  <input type="text" name="name" placeholder="Full name" /></br>
  <input type="text" name="address" placeholder="Street Address"/></br>
  <input type="text" name="city" placeholder="City"/></br>
  <input type="text" name="state" placeholder="State"/></br>
  <input type="text" name="postal_code" placeholder="Postal code"/></br>
  <input type="text" name="country" placeholder="Country"/></br>
  <input type="text" name="email" placeholder="Email"/></br>
  <input type="text" name="phone1_description" placeholder="Phone Description"/>
  <input type="text" name="phone1" placeholder="Phone number"/></br>
  <input type="text" name="phone2_description" placeholder="Phone Description"/>
  <input type="text" name="phone2" placeholder="Phone number"/></br>
  <input type="text" name="phone3_description" placeholder="Phone Description"/>
  <input type="text" name="phone3" placeholder="Phone number"/></br>
  <input type="text" name="user_id" placeholder="User ID" required/></br>
  <input type="text" name="password" placeholder="Password" required/></br></br>
  <input type="submit" value="Register" />
</form>
